# Ignore node_modules
node_modules/

# Ignore build output
/build/

# Ignore environment variables
.env

# Ignore system files
.DS_Store
Thumbs.db

# IDE/Editor settings
.vscode/
.idea/

# Logs
*.log
