/* Hamburger Icon */
.hamburger-icon {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1001;
}

.hamburger-icon svg rect {
    fill: #333; /* Change color as needed */
    transition: transform 0.3s ease;
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100vh;
    background: #fff;
    box-shadow: -2px 0 5px rgba(0,0,0,0.2);
    z-index: 1000;
    transition: right 0.3s ease;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu div:first-child {
    padding: 35px 20px 20px;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-menu li {
    margin-bottom: 15px;
}

.mobile-menu a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}

/* Backdrop for mobile menu */
.mobile-menu::before {
    content: '';
    position: fixed;
    left: -100%;
    top: 0;
    width: calc(100% - 250px);
    height: 100%;
    background: rgba(0,0,0,0.3);
    transition: opacity 0.3s ease;
    opacity: 0;
}

.mobile-menu.open::before {
    left: 0;
    opacity: 1;
}

@media (min-width: 992px) {
    .hamburger-icon,
    .mobile-menu {
        display: none;
    }
}



/* Custom class to remove elements on small screens */
.remove-small {
    display: block; /* Make sure the element is visible by default */
  }
  
  /* Remove on small screens and below */
  @media (max-width: 768px) {
    .remove-small {
      display: none !important; /* Completely remove the element on small screens */
    }
  }